@font-face {
    font-family: "Geometria-Bold";
    src: url(/font/Geometria-Bold.otf);
}
@font-face {
    font-family: "Geometria-Medium";
    src: url(/font/Geometria-Medium.otf);
}
@font-face {
    font-family: "Geometria";
    src: url(/font/Geometria.otf);
}
